*{
	padding:0;
	margin: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: #004d4d; 
}
.medsos ul li{
	display: inline-block;
	color: white;
	margin-right: 10px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.container:after{
	content: '';
	display: block;
	clear: both;
}
header h1{
	float: left;
	padding: 15px 0;
	color: #372327 
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color:#008080; 
	color: white;
}
.active{
	background-color:#008080; 
	color: white;
}
.banner{
	height: 70vh;
	background-image: url('../BG/Background LABKOM.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(55,35,39,0.5);
}
.banner h2{
	color:#fff;
	z-index: 1;
	padding: 25px 40px;
	border: 5px double #fff;
}
section{
	padding: 50px 0;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #003333;
	margin-bottom: 20px;
}
section p{
	color: #003333;
	word-spacing: 2px;
	line-height: 20px;
	padding: 50px
}
.AUTHOR{
	background-color: #e6ffff;
}
.AUTHOR ul li{
	text-align: left;
	padding: 1px 0;
	color: #A37F87;
	margin-bottom: 10px;
	display: block;
}
table {
	background-color: #e6fff2;
}
#gallery{
	background-color: #273036;
}
#gallery h2{
	color: #fff;
}
